# add a file named .env to the local repo with local database credentials
# .env file should not be committed to the repository
# no empty spaces around the equal sign and no empty lines

DB_HOST=localhost
DB_USER=database_user
DB_PASS=database_password
DB_NAME=database_name
BASE_URL=.