@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

body {
  background-color: #fff;
}

.service-requests {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.service-requests h1 {
  font-size: 2rem;
  font-weight: 700;
  align-self: flex-start;
  padding: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.service-requests .header-requests {
  width: 100%;
  position: sticky;
  padding: 10px;
  background-color: #fff;
  top: 0;
  z-index: 1;
}
.request-content{
  width: 100%;
}

.request-content .requests-section {
  display: none;
  padding: 0.5rem;
  width: 100%;
}

.request-content div.active {
  display: block;
}

.item-list hr {
  background-color: #333;
}

.search-item {
  width: 100%;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 0.8rem;
  /*border-bottom: 1px solid #28a7466c;*/
  box-shadow: 0px 2px 3px 0.5px rgba(3, 3, 3, 0.1);
}

.search-item:hover {
  background-color: #6d6d6d17;
  outline: 1px solid #3333335c;
}

.search-item .item-head {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.search-item .item-head .item-img img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.search-item .item-head .item-main-dets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.search-item .item-head .item-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  line-height: 1.8rem;
}

.search-item .item-head .item-name:hover {
  color: #28a745;
  text-decoration: underline;
}

.search-item .item-head .item-title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.search-item .item-head .item-district {
  font-size: 1rem;
  color: #75706c;
  line-height: 1.5rem;
}

.button {
  display: flex;
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
  gap: 0.5rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  justify-content: flex-end;
}

.button button {
  background-color: transparent;
  padding: 0.5rem;
  width: inherit;
  height: auto;
  border: 1px solid #333;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button button:hover {
  background-color: #333;
  color: #fff;
}

.button button.decline {
  background-color: #ff0000;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button button.decline:hover {
  background-color: #68010b;
}

.button button.accept {
  padding: 0.5rem 1rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button button.accept:hover {
  background-color: #1c6d2b;
}

.search-item .item-middle {
  display: flex;
  gap: 5rem;
  margin-top: 0.5rem;
  color: #75706c;
  align-items: center;
  margin-bottom: 0.5rem;
}

.search-item .item-middle .rate span {
  font-weight: 500;
  font-style: italic;
}

.search-item .item-middle .success i {
  font-size: 1.5rem;
  padding-right: 5px;
  color: #28a745;
}

.search-item .item-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1em auto;
}

.search-item .item-tags span {
  background-color: #75706c30;
  color: #121212;
  padding: 0.2rem 1rem;
  border-radius: 5rem;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.search-item .item-tags span:hover {
  background-color: #75706c5f;
}

.search-item .item-description {
  font-size: 1rem;
  color: #333;
  margin-top: 0.5rem;
}

.search-item .bottom-button button {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: transparent;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #28a745;
  outline: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: none;
}

.search-item .bottom-button button:hover {
  background-color: #28a745;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .search-bottom .search-filters {
    display: none;
  }
  .search-header button.filter {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .search-bottom .search-content .advance-search {
    flex-direction: column;
  }
  .search-item .item-head .item-name {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .search-item .item-head .item-title {
    font-size: 1rem;
    line-height: 1rem;
  }
  .search-item .item-head .item-district {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .search-item .item-head .item-img img {
    width: 4rem;
    height: 4rem;
  }
  .search-item .bottom-button button {
    display: block;
  }
  .search-item .item-head .button button {
    display: none;
  }
  .search-item .item-description {
    font-size: 0.8rem;
  }
  .search-item .item-tags span {
    font-size: 0.7rem;
  }
  .search-item .item-middle {
    flex-wrap: wrap;
    gap: 3rem;
    font-size: 0.8rem;
  }
  .search-item .item-middle .success i {
    font-size: 15px;
  }
}

@media screen and (max-width: 475px) {
  .search-item .item-middle {
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.8rem;
  }
  .search-bottom .search-content .advance-search .selection {
    font-size: 0.8rem;
  }
  .search-section .search-content {
    padding: 0;
  }
}

.search-header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.search-button {
  display: flex;
  align-items: center;
  min-width: 250px;
  width: 100%;
  height: 40px;
  border-radius: 5rem 5rem 0 5rem;
  border: solid 1px #333;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.search-button input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-size: 1rem;
  color: #333;
}

.search-button button {
  background-color: #333;
  color: #fff;
  height: 40px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0 40%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    outline 0.3s ease;
}

.search-button button:hover {
  background-color: #111;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.2);
}

.search-button:hover {
  outline: 1px solid #333;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.search-button.focus {
  outline: 1px solid #333;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.search-header button.filter {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  height: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-header button.filter span {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  color: #333;
}

.search-header button.filter:hover {
  background-color: #3333331c;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.2);
}

.advance-search .sort-selection {
  margin-left: auto;
  position: relative;
}

.advance-search .sort-selection .selection-input-field {
  display: flex;
  width: 200px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 5rem;
  cursor: pointer;
  background-color: transparent;
}

.advance-search .sort-selection .selection-input-field i {
  margin: auto;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.advance-search .sort-selection .selection-input-field i.rotated {
  transform: translateY(-50%) rotate(-180deg);
}

.advance-search .sort-selection .selection-input-field input {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  z-index: -1;
}

.advance-search .sort-selection .selection-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.2);
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease, outline 0.3s ease;
  z-index: 1;
}

.advance-search .sort-selection .selection-options .opt {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.advance-search .sort-selection .selection-options .opt:hover {
  background-color: #33333321;
}

.advance-search .sort-selection .selection-options.active {
  height: 300%;
  outline: 1px solid #333;
}

.container-changer {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #33333352;
}

.container-changer .buttons {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.container-changer .buttons.active {
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #333;
  box-shadow: 0 0 5px rgba(40, 167, 70, 0.3);
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 3rem auto;
  gap: 1rem;
}

.pagination .prev-page,
.next-page {
  border: 1px #333 solid;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .prev-page:hover,
.next-page:hover {
  background-color: #333;
  color: #fff;
}

.pagination .page-number {
  font-size: 1rem;
  background-color: #333;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  color: #fff;
  text-align: center;
}

.pop-up-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pop-up-section .pop-up {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.2);
  padding: 1.5rem;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease;
}

.pop-up-section .pop-up .pop-up-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.pop-up-section .pop-up .pop-up-header .pop-up-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #28a745;
}

.pop-up-section .pop-up .pop-up-header i {
  font-size: 1.5rem;
  color: #28a745;
  cursor: pointer;
}

.pop-up-section .pop-up hr {
  width: 100%;
  height: 2px;
  background-color: #28a745;
  margin-bottom: 0.5rem;
}

.pop-up-section .pop-up .pop-up-content {
  max-height: 500px;
  overflow-y: auto;
}

.pop-up-section .pop-up .pop-up-content .pop-up-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.pop-up-section .pop-up .pop-up-content .pop-up-item:last-child {
  border-bottom: none;
}

.pop-up-section .pop-up .pop-up-content .pop-up-item .pop-up-item-name {
  font-size: 1rem;
  color: #333;
}

.pop-up-section .pop-up .pop-up-content .pop-up-item .pop-up-item-count {
  font-size: 0.9rem;
  color: #75706c;
}
.pop-up-section .pop-up .pop-up-content .pop-up-item:hover {
  background-color: #28a74612;
  cursor: pointer;
}

.pop-up-section .pop-up .pop-up-content .pop-up-item:hover .pop-up-item-name {
  color: #218838;
}

.pop-up-section.deactive {
  background-color: transparent;
  z-index: -1;
}

.pop-up-section .pop-up.deactive {
  display: none;
}

.pop-up-section .pop-up .pop-search-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5rem;
}

.pop-up-section .pop-up .pop-search-button i {
  color: #333;
  font-size: 16px;
  margin: 0 0.5rem;
}

.pop-up-section .pop-up .pop-search-button input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  color: #333;
}
.pop-up-section .pop-up li {
  list-style: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pop-up-section .pop-up .filter-title {
  border-bottom: 1px solid #ddd;
}

.filter-item {
  margin: 0.5rem 0;
}

.filter-item .filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
}

.filter-item .filter-title span {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.filter-item .filter-title i {
  color: #333;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.filter-item .filter-title i.rotated {
  transform: rotate(180deg);
}

.filter-item .filter-options {
  padding-left: 0.5rem;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.filter-item .filter-options.active {
  height: 11rem;
}

.filter-item .filter-options li {
  list-style: none;
  padding: 0.4rem;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.filter-item .filter-options li input {
  margin-right: 0.5rem;
  outline-color: #28a745;
  scale: 1.5;
  cursor: pointer;
}

.button-apply button {
  background-color: #28a745;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #fff;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-apply button:hover {
  background-color: #186829;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.2);
}

.request-details li {
  margin: 1rem 0;
}

.request-details .det-title {
  font-size: 1rem;
  font-weight: 600;
  color: #00330c;
}

.request-details .det {
  color: #333;
  font-size: 0.9rem;
}
