.content{
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1300px;
}

.content .top-area{
    background: url('../img/landingBG.jpg');
    height: 600px;
    margin-top: 100px;
    background-size: cover;
    border-radius: 25px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .overlay{
    background-color: #00000057;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    pointer-events: none;
}

.content h1{
    color: white;
    position: relative;
    z-index: 1;

    text-align: center;
    padding: 0px 200px;
    padding-bottom: 10px;
    font-size: 4em;

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.447);
}

.content h3{
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0px 200px;
    font-size: 1.2em;
}

.content .glass-wrapper{
    backdrop-filter: blur(50px);
    position: relative;
    z-index: 1;
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.151);
    box-shadow: 0px 0px 2px 0px #ffffff3c;
}

.content .glass-wrapper .switch-wrapper{
    background-color: #676063;
    backdrop-filter: blur(50px);
    border-radius: 50px;
    display: flex;
    position: relative;
}

.content .glass-wrapper .switch-wrapper .switch-option{
    flex: 1;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.content .glass-wrapper .switch-wrapper::after{
    content: '';
    position: absolute;
    width: 50%;
    height: calc(100% - 4px);
    border: 2px solid white;
    left: var(--left);
    border-radius: 50px;

    transition: all 0.2s;
    pointer-events: none;
}

.content .glass-wrapper .search-wrapper{
    margin-top: 25px;
    position: relative;
}

.content .glass-wrapper .search-wrapper input{
    background-color: white;
    width: 100%;
    padding: 15px;
    font-size: 1em;
    border-radius: 50px;
    border: none;
    font-weight: 500;

    outline: 2px solid #00850000;
    border: 2px solid rgba(0, 0, 0, 0);

    transition: all 0.3s;
}

.content .glass-wrapper .search-wrapper input:focus{
    outline: 2px solid #008500;
    border: 2px solid black;
}

.content .glass-wrapper .search-wrapper span{
    position: absolute;
    right: 4px;
    height: calc(100% - 8px);
    top: 4px;
    display: flex;
    align-items: center;

    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    padding: 0px 15px;
    border-radius: 50px;
    gap: 15px;
}

.content .glass-wrapper .search-wrapper span i{
    color: #008500;
}
.content .glass-wrapper .popular-search-wrapper{
    display: none;
}